@(form: Form[UserAdmin.CreateUserForm])

@header()
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
        @helper.form(routes.UserAdmin.createUser) {
            
            <h1>Create new user</h1>
            
            @if(form.hasGlobalErrors) { 
                <p class="error">
                    @form.globalError.message
                </p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <p>
                <input type="username" name="username" placeholder="Username" value="@form("username").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <input type="email" name="email" placeholder="E-Mail" value="@form("email").value">
            </p>
            
            <p>
                Adminrechte? <input type="checkbox" name="isAdmin">
            </p>
            <p>
                <button type="submit">Create</button>
            </p>
            
        }

@footer()    


