@(clients: List[Client])

@header()

<div id="title">Klienten</div>
<div id="button"><a href="/client/showCreateClientForm">Klienten anlegen</a></div>
<br/>
<table>
<tr>
	<td id="header" width="218">Name</td>
	<td id="header" width="164">Vorname</td>
	<td id="header" width="90">Geburtstag</td>
	<td id="header" width="248">Strasse</td>
	<td id="header" width="50">PLZ</td>
	<td id="header" width="238">Ort</td>
	<td id="header" width="144">E-Mail</td>
</tr>

@for(client <- clients) {
  <tr>	
  	<td id="content">@client.getName()</td>
	<td id="content">@client.getPrename()</td>
	<td id="content">@client.getBirthday().format("dd.MM.yyyy")</td>
	<td id="content">@client.getStreet() @client.getStreetNumber()</td>
	<td id="content">@client.getZipCode()</td>
	<td id="content">@client.getCity()</td>
	<td id="content">@client.getMails().iterator.next().getMail()</td>
  </tr>
} 

</table>
@footer()