@(form: Form[CreateClientForm])

@header()

<div id="title">Klienten anlegen</div>

@helper.form(routes.ClientController.createClient) {
                       
            @if(form.hasErrors) { 
                <p id="error">Bitte Eingaben pr&uuml;fen!</p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <div id="formboxes-left">
            	<div id="formbox">
            		<div id="formbox-title">Grunddaten</div>
            		<div id="formbox-content"> 
			            <p>
			                Anrede: <select type="formOfAdress" name="formOfAdress" class="formelement">
			                	<option value="Herr">Herr</option>
			                	<option value="Frau">Frau</option>
			                </select>
			            </p>
			            <p>
			                Titel: <input type="title" name="title" class="formelement">
			            </p>
			            
			            <p>
			                Name: <input type="name" name="name" class="formelement">
			            </p>
			            
			            <p>
			                Vorname: <input type="prename" name="prename" class="formelement">
			            </p>
			            
			              <p>
			                Geburtsdatum: <input type="birthday" name="birthday" class="formelement">
			            </p>
			            
			            <p>
			                Geburtsort: <input type="birthplace" name="birthplace" class="formelement">
			            </p>
			            
			            <p>
			                Geburtsland: <input type="birthcountry" name="birthcountry" class="formelement">
			            </p>
			            
			            <p>
			                Geschlecht: <select type="gender" name="gender" class="formelement">
			                	<option value="m&auml;nnlich">m&auml;nnlich</option>
			                	<option value="weiblich">weiblich</option>
			                </select>
			            </p>
			            
				        <p>
	                		Familienstatus: <select type="familyStatus" name="familyStatus" class="formelement">
	                			<option value="ledig">ledig</option>
	                			<option value="verheiratet">verheiratet</option>
	                			<option value="geschieden">geschieden</option>
	                			<option value="verwitwet">verwitwet</option>
	                			<option value="sonstiges">sonstiges</option>
	                		</select>
	            		</p>
	            		<p>
	                		Beruf: <input type="occupation" name="occupation" class="formelement">
	            		</p>
	            		<p>
	                		Konfession:<select type="confession" name="confession" class="formelement">
			                	<option value="katholisch">katholisch</option>
			                	<option value="evangelisch">evangelisch</option>
			                	<option value="muslimisch">muslimisch</option>
			                	<option value="konfessionslos">konfessionslos</option>
			                	<option value="sonstiges">sonstiges</option>
			                </select>
	            		</p>
            		</div>
            	</div>
            	<br/>
            	<p>
                	<button type="submit">Klienten anlegen</button>
            	</p>
            </div>
            
            <div id="formboxes-right">
            	<div id="formbox">
            		<div id="formbox-title">Kontaktdaten</div>
            		<div id="formbox-content">
			            <p>
			                Strasse: <input type="street" name="street" class="formelement">
			            </p>
			            <p>
			                Hausnummer: <input type="streetnumber" name="streetNumber" class="formelement">
			            </p>
			            <p>
			                Postleitzahl: <input type="zipCode" name="zipCode" class="formelement">
			            </p>
			            <p>
			                Ort: <input type="city" name="city" class="formelement">
			            </p>
			            <p>
			                Telefon: <input type="phone" name="phone" class="formelement">
			            </p>
			            <p>
			                Mobiltelefon: <input type="mobile" name="mobile" class="formelement">
			            </p>
			            <p>
			                E-Mail: <input type="mail" name="mail" class="formelement">
			            </p>
		            </div>
            	</div>
            </div>
        }

@footer()