@(clientForm: Form[CreateClientForm], courts: List[Court])
@import helper._

@header()

@implicitField = @{ FieldConstructor(formFieldConstructor.render) }

<div id="title">Klienten anlegen</div>

@helper.form(routes.ClientController.createClient) {
                       
            @if(clientForm.hasErrors) { 
                <p id="error">Bitte Eingaben pr&uuml;fen!</p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <div id="formboxes-left">
            	<div id="formbox">
            		<div id="formbox-title">Grunddaten</div>
            		<div id="formbox-content"> 
		                @select(
			            	clientForm("formOfAdress"), 
	        				options("Herr" -> "Herr","Frau" -> "Frau"),
	        				'_label -> "Anrede:",
	        				'class -> "formelement")
	
		            	@inputText(clientForm("title"), '_label -> "Titel:", 'class -> "formelement")
	
		            	@inputText(clientForm("name"), '_label -> "Name:", 'class -> "formelement")
	
		                @inputText(clientForm("prename"), '_label -> "Vorname:", 'class -> "formelement")
	
		                @inputText(clientForm("birthday"), '_label -> "Geburtsdatum:", 'class -> "formelement")
	
		              	@inputText(clientForm("birthplace"), '_label -> "Geburtsort:", 'class -> "formelement")
	
		                @inputText(clientForm("birthcountry"), '_label -> "Geburtsland:", 'class -> "formelement")
		               	@select(
			                clientForm("gender"), 
	        				options("männlich" -> "männlich","weiblich" -> "weiblich"),
	        				'_label -> "Geschlecht:",
	        				'class -> "formelement")
	
		               	@select(
			                clientForm("familyStatus"), 
	        				options("ledig" -> "ledig","verheiratet" -> "verheiratet", "geschieden" -> "geschieden", "verwitwet" -> "verwitwet", "sonstiges" -> "sonstiges"),
	        				'_label -> "Familienstatus:",
	        				'class -> "formelement")
	
	            		@inputText(clientForm("occupation"), '_label -> "Beruf:", 'class -> "formelement")
	
	        		 	@select(
			                clientForm("confession"), 
	        				options("katholisch" -> "katholisch","evangelisch" -> "evangelisch", "muslimisch" -> "muslimisch", "konfessionslos" -> "konfessionslos", "sonstiges" -> "sonstiges"),
	        				'_label -> "Konfession:",
	        				'class -> "formelement")
            		</div>
            	</div>
            	
            	<div id="formbox">
            		<div id="formbox-title">Kontaktdaten</div>
            		<div id="formbox-content">
		               	@inputText(clientForm("street"), '_label -> "Strasse:", 'class -> "formelement")
	
		                @inputText(clientForm("streetNumber"), '_label -> "Hausnummer:", 'class -> "formelement")
	
		                @inputText(clientForm("zipCode"), '_label -> "Postleitzahl:", 'class -> "formelement")
	
		                @inputText(clientForm("city"), '_label -> "Ort:", 'class -> "formelement")
	
		                @inputText(clientForm("phone"), '_label -> "Telefon:", 'class -> "formelement")
	
		                @inputText(clientForm("mobile"), '_label -> "Mobiltelefon:", 'class -> "formelement")
	
		               	@inputText(clientForm("mail"), '_label -> "E-Mail:", 'class -> "formelement")
		            </div>
            	</div>
            	<br/>
            	<p>
                	<button type="submit">Klienten anlegen</button>
            	</p>
            </div>
            
            <div id="formboxes-right">
            	<div id="formbox">
            		<div id="formbox-title">Amtsgericht</div>
            		<div id="formbox-content">
            		@inputText(clientForm("fileReference"), '_label -> "Aktenzeichen:", 'class -> "formelement")	

                		@select(
			                clientForm("court"), 
            				options(Court.list),
            				'_label -> "Amtsgericht:",
            				'class -> "formelement")
	                	
						@checkbox(clientForm("newCourt"), '_label -> "Neues Amtsgericht anlegen:", 'class -> "formelement")

			            @inputText(clientForm("courtName"), '_label -> "Name:", 'class -> "formelement")

						@inputText(clientForm("courtStreet"), '_label -> "Strasse:", 'class -> "formelement")
						
						@inputText(clientForm("courtStreetNumber"), '_label -> "Hausnummer:", 'class -> "formelement")

		                @inputText(clientForm("courtZipCode"), '_label -> "Postleitzahl:", 'class -> "formelement")

		                @inputText(clientForm("courtCity"), '_label -> "Ort:", 'class -> "formelement")
					</div>
				</div>

				<div id="formbox">
            		<div id="formbox-title">Aufgabenkreise</div>
            		<div id="formbox-content">
            		@checkbox(clientForm("assetCare"), '_label -> "Vermögenssorge:", 'class -> "formelement")
            		@checkbox(clientForm("healthCare"), '_label -> "Gesundheitssorge:", 'class -> "formelement")
            		@checkbox(clientForm("residenceCare"), '_label -> "Aufenthaltsbestimmungsrecht", 'class -> "formelement")
            		@checkbox(clientForm("enforcementOfClaims"), '_label -> "Geltendmachung von Ansprüchen", 'class -> "formelement")
            		@checkbox(clientForm("officialAffairs"), '_label -> "Behördliche Angelegenheiten:", 'class -> "formelement")
            		@checkbox(clientForm("postalAffairs"), '_label -> "Postalische Angelegenheiten:", 'class -> "formelement")
            		@checkbox(clientForm("insuranceAffairs"), '_label -> "Versicherungsangelegenheiten:", 'class -> "formelement")
            		@checkbox(clientForm("livingAffairs"), '_label -> "Wohnungsangelegenheiten", 'class -> "formelement")
            		@checkbox(clientForm("heritageAffairs"), '_label -> "Erbschaftsangelegenheiten:", 'class -> "formelement")	
            		@checkbox(clientForm("otherCare"), '_label -> "Sonstige Aufgabenkreise:", 'class -> "formelement")
					</div>
				</div>			
				<div id="formbox">
            		<div id="formbox-title">Weitere Daten</div>
            		<div id="formbox-content">
            		@select(
			                clientForm("livesAtHome"), 
	        				options("true" -> Client.LIVES_AT_HOME,"false" -> Client.LIVES_NOT_AT_HOME),
	        				'_label -> "Wohnverhältnisse:",
	        				'class -> "formelement")
            		
            		@select(
			                clientForm("ownIncome"), 
	        				options("true" -> Client.HAS_OWN_INCOME,"false" -> Client.HAS_NO_OWN_INCOME),
	        				'_label -> "Vermögensverhältnisse:",
	        				'class -> "formelement")
            		
            		@inputText(clientForm("beginOfAssistance"), '_label -> "Gesetzliche Betreuung seit:", 'class -> "formelement")
            		
            		@inputText(clientForm("beginOfAssistanceInThisCompany"), '_label -> "Betreuung bei uns:", 'class -> "formelement")	
					
					</div>
				</div>
			</div>
        }

@footer()