// ----------------------- MAIN STYLES

body {
    background: #AAAAAA;
    color: #000000;
    font: Arial;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
        color: #333333;
    }
}

* { margin: 0; padding: 0; }

div#menu {
  color: #FFFFFF;
  font-size: 18px;
  padding-right: 5px; 
  text-align:right;
}

div#title {
  color: #FFFFFF;
  font-size: 24px; 
  text-align:center;
  padding: 10px;
  background: #359a4c;
}

ul#menu {
 display: block;
 height: 30px;

 li {
 display:inline;
 
}

 li a {
 padding: 10px;
 border-radius: 5px;
 background: #359a4c;
}

 li a:hover {
  color: #FFFFFF;
  background: #46AB5C;
}
}

