@import 'colors.less';

// ----------------------- MAIN STYLES

body {
    background: @mainBackground;
    color: @mainColor;
    font: Arial;
}

* { margin: 0; padding: 0; }

// === Menu ===

div#menu {
  font-size: 18px;
  padding-right: 5px; 
  text-align:right;
}


ul#menu {
 display: block;
 height: 30px;

 li {
 display:inline;
 
}

 li a {
 color: @menuColor;
 padding: 10px;
 border-radius: 5px;
 background: @menuBackground;
 text-decoration:none;
}

 li a:hover {
  color: @menuColorHover;
  background: @menuBackgroundHover;
}
}

// === Footer ===
div#footer {
  color: @footerColor;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 0;
  text-align:center;
  background: @footerBackground;
}

// === Content ===

div#title {
  color: @footerColor;
  font-size: 24px; 
  text-align:center;
  padding: 10px;
  background: @footerBackground;
}