@(form: Form[Installation.InstallationForm])
<html>
    <head>
        <title>Install system</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        <div align="center"><img src="/assets/images/smallCRM-logo.png" border="0"/></div>
        @helper.form(routes.Installation.installSystem) {
            
            <h1>Install system</h1>
            
            @if(form.hasGlobalErrors) { 
                <p class="error">
                    @form.globalError.message
                </p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <p>
                <input type="username" name="username" placeholder="Admin-Username" value="@form("username").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <input type="email" name="email" placeholder="E-Mail" value="@form("email").value">
            </p>
            <p>
                <button type="submit">Create</button>
            </p>
            
        }
    </body>
</html>
    


